$task-height: 200px;
$task-width-base: 150px;

#app {
  padding: 20px;
}

.step-pool {
  height: $task-height;
  min-width: 100%;
  display: flex;
  flex-direction: row;
}

.task-container {
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;

  .task-wrapper {
    height: 100%;

    &.task-width-1 {
      width: $task-width-base * 1;
    }
    &.task-width-2 {
      width: $task-width-base * 2;
    }
    &.task-width-3 {
      width: $task-width-base * 3;
    }
    &.task-width-4 {
      width: $task-width-base * 4;
    }
    &.task-width-5 {
      width: $task-width-base * 5;
    }
  }
}

.task-button {
  height: 100%;
}